# Visual Studio
.vs/
# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache
.vscode/

# Test results
TestResults/
*.trx

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper